/*  your css code here. If applicable */
.block{
	background-color:#d3d3d3;
	border-style:solid;
	border-radius:10px;
	border-color:black; 
	display:flex; 
	justify-content:space-between;
	padding:10px;
	
}  
.green{
	background-color:green; 
	border-radius:50%;
	width:200px;
	height:200px;
	margin:10px;
}
.yellow{
	background-color:yellow; 
	border-radius:50%;
	width:200px;
	height:200px;
	margin:10px;
}
.red{
	background-color:red; 
	border-radius:50%;
	width:200px;
	height:200px;
	margin:10px;
}
