/*  your css code here. If applicable */
.block{
	background-color:#d3d3d3;
	border-style:solid;
	border-radius:10px;
	border-color:black; 
	display:flex; 
	justify-content:space-between;
	padding:10px;
	
} 
.circle{
	border-radius:50%;
	width:200px;
	height:200px;
	margin:10px;
}
#green{
	background-color:green; 
}
#yellow{
	background-color:yellow; 
}
#red{
	background-color:red; 
}
